#root {
  width: 100vw;
  height: 100vh;
  border: 1px dashed red;
}

/* CSS Utils */
.disabled {
  color: grey;
  pointer-events: none;
  user-select: none;
}
.overflow-auto {
  overflow: auto;
}
.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
/* end CSS Utils */
